################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/CLAUDE.md
/.claude/
/.dotnet/
/.vscode/
/__pycache__/
